In [42]:
import pandas as pd
import numpy as np

In [167]:
data=pd.read_csv("data_p.csv")

In [168]:
data.head(20)

,Unnamed: 0,sentence,b_per,i_per
0,0,I also heard that at first it was seized by U....,Lena,NaN
1,1,"Even Ingmar Bergman, arguably their answer to ...",Ingmar,Bergman
2,2,"Even Ingmar Bergman, arguably their answer to ...",John,Ford
3,3,And those pretentious indie movies like The Br...,Vincent,Gallo
4,4,And those pretentious indie movies like The Br...,Chloe,Sevigny
5,5,This film was probably inspired by Godard's Ma...,Godard,NaN
6,6,This film was probably inspired by Godard's Ma...,Masculinéminin,NaN
7,7,Lena Nyman has to be most annoying actress in ...,Lena,Nyman
8,8,"Comparing to Godard's film, intellectuality ha...",Godard,NaN
9,9,"Oh, brother...after hearing about this ridicul...",Peggy,Lee
10,10,"MILLIONS of people flocked to this stinker, th...",Yeesh,NaN
11,11,Whoever wrote the screenplay for this movie ob...,Lucille,Ball
12,12,"I've never seen so many mistakes in a biopic, ...",Desi,NaN
13,13,"In all, I believe that Lucille Ball is one of ...",Lucille,Ball
14,14,"If I were Lucie Arnaz and Desi, Jr., I would b...",Lucie,Arnaz
15,15,"If I were Lucie Arnaz and Desi, Jr., I would b...",Desi,NaN
16,16,"If I were Lucie Arnaz and Desi, Jr., I would b...",Jr,NaN
17,17,"If I were Lucie Arnaz and Desi, Jr., I would b...",.,NaN
18,18,"When I first saw a glimpse of this movie, I qu...",Lucille,Ball
19,19,Rachel York's portrayal of Lucy is absolutely ...,Rachel,York

CLEAN

In [169]:
data.isnull().sum()

Unnamed: 0        0
sentence          0
b_per          6266
i_per         83502
dtype: int64

In [170]:
(data['b_per']==np.nan).sum()

0

In [171]:
# Check for both NaN and empty string
missing_count = (data['b_per'].isnull() | (data['b_per'] == "")).sum()
print(missing_count)

6266

In [172]:
data = data.drop(data.columns[0], axis=1)

In [173]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160908 entries, 0 to 160907
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   sentence  160908 non-null  object
 1   b_per     154642 non-null  object
 2   i_per     77406 non-null   object
dtypes: object(3)
memory usage: 3.7+ MB

In [197]:
import re
def clean_name(text):
    if not isinstance(text, str):
        return text
    text = text.replace(".", "")
    text = text.replace("Jr","")
    text = text.replace("-", "")
    text = text.replace("'", "")
    text = text.replace('"', "")
    text = re.sub(r'[^a-zA-Z]', '', text)
    text = re.sub(r'\b[A-Z]\b', '', text)
    text = re.sub(r'\b[a-z]\b', '', text)
    text = re.sub(r'[A-Z]{2,}', '', text)
    
  
    return text

In [198]:
data['b_per'] = data['b_per'].apply(lambda x:clean_name(x))
data['i_per'] = data['i_per'].apply(lambda x:clean_name(x))

In [199]:
data.replace("", np.nan, inplace=True)

In [200]:
data_cleaned = data.dropna(subset=['b_per', 'i_per'], how='all')

In [201]:
data_cleaned.head(20)

                                             sentence          b_per    i_per
0   I also heard that at first it was seized by U....           Lena      NaN
1   Even Ingmar Bergman, arguably their answer to ...         Ingmar  Bergman
2   Even Ingmar Bergman, arguably their answer to ...           John     Ford
3   And those pretentious indie movies like The Br...        Vincent    Gallo
4   And those pretentious indie movies like The Br...          Chloe  Sevigny
5   This film was probably inspired by Godard's Ma...         Godard      NaN
6   This film was probably inspired by Godard's Ma...  Masculinminin      NaN
7   Lena Nyman has to be most annoying actress in ...           Lena    Nyman
8   Comparing to Godard's film, intellectuality ha...         Godard      NaN
9   Oh, brother...after hearing about this ridicul...          Peggy      Lee
10  MILLIONS of people flocked to this stinker, th...          Yeesh      NaN
11  Whoever wrote the screenplay for this movie ob...        Lucille     Ball
12  I've never seen so many mistakes in a biopic, ...           Desi      NaN
13  In all, I believe that Lucille Ball is one of ...        Lucille     Ball
14  If I were Lucie Arnaz and Desi, Jr., I would b...          Lucie    Arnaz
15  If I were Lucie Arnaz and Desi, Jr., I would b...           Desi      NaN
18  When I first saw a glimpse of this movie, I qu...        Lucille     Ball
19  Rachel York's portrayal of Lucy is absolutely ...         Rachel     York
20  Rachel York's portrayal of Lucy is absolutely ...           Lucy      NaN
21  Lucille Ball was an astounding comedian with i...        Lucille     Ball

In [212]:
data_cleaned.isnull().sum()

sentence        0
b_per           0
i_per       82586
dtype: int64

In [185]:
def imput_name(text):
    text = text.replace(".", "")
    text = text.replace("Jr","")
    text = text.replace("-", "")
    text = text.replace("'", "")
    text = re.sub(r'\b[A-Z]\b', '', text)
    return text

In [203]:
data_sorted = data_cleaned.sort_values(by='b_per', ascending=True)

In [187]:
grouped_data = data_cleaned.groupby('b_per')

In [206]:
data_sorted.head()

                                                sentence   b_per    i_per
5846   Aaargh), but the fact that the raw material is...  Aaargh  Grisham
33907  I cannot say that Aag is the worst Bollywood f...     Aag      NaN
90638  And if you valued music more than story the li...     Aag     Naam
33790  What Aag does is take these characters and mes...     Aag      NaN
33689  Enough of stupid characters in your movie like...     Aag      NaN

In [192]:
data_sorted.describe()

                                                 sentence   b_per  i_per
count                                              157492  149647  77406
unique                                              83773   16358  13376
top     "Kalifornia"is a great film that makes us look...    John      .
freq                                                   42    2022    916

In [210]:
data_sorted.to_csv("data_cleaned.csv")

In [204]:
data_sorted_2 = data_cleaned.sort_values(by='i_per', ascending=True)

In [193]:
data['i_per'] = data['i_per'].apply(lambda x:clean_name(x))

In [209]:
data_sorted_2.to_csv("data_cleaned_2.csv")

In [205]:
data_sorted_2.head()

                                                sentence  b_per i_per
72336  Milan Abhi Aada Adhura Hai is also nice in wat...  Milan  Aada
33700  I can't come up with appropriate enough words ...    NaN   Aag
33707  Ramgopal Varma Ki Aag is actually a mockery of...    NaN   Aag
33716  How you wish he'd pulled the trigger and spare...    NaN   Aag
33745  Ramgopal Varma Ki Aag is his worst career deci...    NaN   Aag

In [211]:
data_cleaned = data.dropna(subset=['b_per'])

In [214]:
data_cleaned.to_csv("data_cleaned_3.csv")

In [215]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149629 entries, 0 to 160907
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   sentence  149629 non-null  object
 1   b_per     149629 non-null  object
 2   i_per     67043 non-null   object
dtypes: object(3)
memory usage: 4.6+ MB