## step_1 we need to configure the env and load the dataset

In [75]:
#!pip install huggingface-hub

In [76]:
#!pip install datasets

In [ ]:
from huggingface_hub import login
print("Hugging Face Hub is working")


from datasets import load_dataset

ds = load_dataset("stanfordnlp/imdb")

In [ ]:
import pandas

import torch

## step_2 check the structure and context of the dataset
1)the dataset type is datasetdict that holds multiple datasets.In this case,including train test unsupervised.every dataset include 2 column.one is text
the other is label .in label column 0 reprensent negative and 1 represent positive.

In [79]:
print(ds)

DatasetDict({
    train: Dataset({
        features: ['text', 'label'],
        num_rows: 25000
    })
    test: Dataset({
        features: ['text', 'label'],
        num_rows: 25000
    })
    unsupervised: Dataset({
        features: ['text', 'label'],
        num_rows: 50000
    })
})

In [80]:
print(ds["test"]["text"][0])

I love sci-fi and am willing to put up with a lot. Sci-fi movies/TV are usually underfunded, under-appreciated and misunderstood. I tried to like this, I really did, but it is to good TV sci-fi as Babylon 5 is to Star Trek (the original). Silly prosthetics, cheap cardboard sets, stilted dialogues, CG that doesn't match the background, and painfully one-dimensional characters cannot be overcome with a 'sci-fi' setting. (I'm sure there are those of you out there who think Babylon 5 is good sci-fi TV. It's not. It's clich√©d and uninspiring.) While US viewers might like emotion and character development, sci-fi is a genre that does not take itself seriously (cf. Star Trek). It may treat important issues, yet not as a serious philosophy. It's really difficult to care about the characters here as they are not simply foolish, just missing a spark of life. Their actions and reactions are wooden and predictable, often painful to watch. The makers of Earth KNOW it's rubbish as they have to always say "Gene Roddenberry's Earth..." otherwise people would not continue watching. Roddenberry's ashes must be turning in their orbit as this dull, cheap, poorly edited (watching it without advert breaks really brings this home) trudging Trabant of a show lumbers into space. Spoiler. So, kill off a main character. And then bring him back as another actor. Jeeez! Dallas all over again.

## convert it into Pandas dataframe

In [82]:
train_df = ds['train'].to_pandas()
test_df = ds['test'].to_pandas()
unsupervised_df = ds['unsupervised'].to_pandas()

In [86]:
train_df.head()

                                                text  label
0  I rented I AM CURIOUS-YELLOW from my video sto...      0
1  "I Am Curious: Yellow" is a risible and preten...      0
2  If only to avoid making this type of film in t...      0
3  This film was probably inspired by Godard's Ma...      0
4  Oh, brother...after hearing about this ridicul...      0

In [90]:
import nltk
from nltk.tokenize import sent_tokenize
import pandas as pd
# Make sure to download the punkt tokenizer models if you haven't already
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\c\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

## split it by sentence

In [93]:
def split_sentences(row):
    sentences = sent_tokenize(row['text'])  # Tokenize the text into sentences
    return pd.DataFrame({'sentence': sentences})

# Apply the function to each row of the DataFrame and reset the index
df_split = pd.concat([split_sentences(row) for _, row in train_df.iterrows()], ignore_index=True)

# Display the new DataFrame
print(df_split)

                                                 sentence
0       I rented I AM CURIOUS-YELLOW from my video sto...
1       I also heard that at first it was seized by U....
2       In particular she wants to focus her attention...
3       In between asking politicians and ordinary den...
4       Really, the sex and nudity scenes are few and ...
...                                                   ...
271052                           Time to end this review.
271053  I have to go the dunny to shake hands with the...
271054  The story centers around Barry McKenzie who mu...
271055  Being about the grossest Aussie shearer ever t...
271056  The songs of Barry McKenzie(Barry Crocker) are...

[271057 rows x 1 columns]

## name column

In [ ]:
def extract_name(row):
    if df_split('sentence')

In [ ]:
from transformers import AutoTokenizer, AutoModelForTokenClassification
from transformers import pipeline

tokenizer = AutoTokenizer.from_pretrained("dslim/distilbert-NER")
model = AutoModelForTokenClassification.from_pretrained("dslim/distilbert-NER")

nlp = pipeline("ner", model=model, tokenizer=tokenizer)

In [ ]:
def extract_persons_from_ner(sentence):
    ner_results = ner_pipeline(sentence)  # Apply NER to the sentence
    # Extract only 'PERSON' entities
    persons = [entity['word'] for entity in ner_results if entity['entity'] == 'B-PER' or entity['entity'] == 'I-PER']
    return ' '.join(persons) if persons else None  # Join names if multiple, else return None
df_split['name'] = df_split['sentence'].apply(lambda x: extract_persons_from_ner(x))

In [104]:
df_split.head()

                                            sentence  name
0  I rented I AM CURIOUS-YELLOW from my video sto...  None
1  I also heard that at first it was seized by U....  Lena
2  In particular she wants to focus her attention...  None
3  In between asking politicians and ordinary den...  None
4  Really, the sex and nudity scenes are few and ...  None

In [106]:
df_split = df_split.dropna(subset=['name'])

                                            sentence  name
0  I rented I AM CURIOUS-YELLOW from my video sto...  None
1  I also heard that at first it was seized by U....  Lena
2  In particular she wants to focus her attention...  None

## sentiment analyse

In [ ]:
#normalize
import re

def clean_text(text):
    text = re.sub(r'#', '', text)  # Remove the # symbol
    text = re.sub(r'https?:\/\/\S+', '', text)  # Remove hyperlinks
    text = text.replace("  ", " ")  # Remove extra spaces
    text = " ".join([x for x in text.split(" ") if not x.isdigit()])  # Remove numbers
    text = text.lower()  # Convert text to lowercase
    return text
df_split['sentence_normalized'] = df_split['sentence'].apply(lambda x: clean_text(x))

df_split.head(10)

In [ ]:
#tokenize

In [ ]:
#keywords

In [ ]:
#score

In [ ]:
#evaluate

## group by name and rank

In [ ]:
#